# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = hynoti.settings

[deploy]
url = http://54.180.98.248:8888/
project = hynoti
username = rkdejrdud88
password = duckyoung88!
